      <div class="banner">
        <img src="/public/home/images/banner-4.png" alt="" />
      </div> 
      <div class="clearfix"></div>
      <div class="container">
        <div class="row">
          <div class="search-colmn">
            <span>项目状态</span>
            <ul>
              <li><a href="/lend/0-<?php echo $getparam[1];?>-<?php echo $getparam[2];?>-<?php echo $getparam[3];?>" class="brown">全部</a></li>
              <?php foreach ($status as $key => $val):?>
              <li><a href="/lend/<?php echo $val->classId;?>-<?php echo $getparam[1];?>-<?php echo $getparam[2];?>-<?php echo $getparam[3];?>" <?php if($val->classId == $getparam[0]):?>class="brown"<?php endif;?>><?php echo $val->className;?></a></li>
              <?php endforeach;?>
            </ul>
          </div>
          <div class="search-colmn">
            <span>年化收益率</span>
            <ul>
              <li><a href="/lend/<?php echo $getparam[0];?>-0-<?php echo $getparam[2];?>-<?php echo $getparam[3];?>" class="brown">全部</a></li>
              <?php foreach ($yearRate as $key => $val):?>
              <li><a href="/lend/<?php echo $getparam[0];?>-<?php echo $val->classId;?>-<?php echo $getparam[2];?>-<?php echo $getparam[3];?>" <?php if($val->classId == $getparam[1]):?>class="brown"<?php endif;?>><?php echo $val->className;?>%</a></li>
              <?php endforeach;?>
            </ul>
          </div>
          <div class="search-colmn">
            <span>出借期限</span>
            <ul>
              <li><a href="/lend/<?php echo $getparam[0];?>-<?php echo $getparam[1];?>-0-<?php echo $getparam[3];?>" class="brown">全部</a></li>
              <?php foreach ($timeLimit as $key => $val):?>
              <li><a href="/lend/<?php echo $getparam[0];?>-<?php echo $getparam[1];?>-<?php echo $val->classId;?>-<?php echo $getparam[3];?>" <?php if($val->classId == $getparam[2]):?>class="brown"<?php endif;?>><?php echo $val->className;?></a></li>
              <?php endforeach;?>
            </ul>
          </div>
          <div class="search-colmn">
            <span>还款方式</span>
            <ul>
              <li><a href="/lend/<?php echo $getparam[0];?>-<?php echo $getparam[1];?>-<?php echo $getparam[2];?>-0" class="brown">全部</a></li>
              <?php foreach ($repayment as $key => $val):?>
              <li><a href="/lend/<?php echo $getparam[0];?>-<?php echo $getparam[1];?>-<?php echo $getparam[2];?>-<?php echo $val->classId;?>" <?php if($val->classId == $getparam[3]):?>class="brown"<?php endif;?>><?php echo $val->className;?></a></li>
              <?php endforeach;?>
            </ul>
          </div>
        </div>
      </div>
      <div class="s-line"></div>
      <div class="container">
        <div class="row">
          <?php foreach ($rows as $key => $val):?>
          <div class="list">
            <h3><a href="/lend/detail/<?php echo $val->projectId;?>" class="brown"><?php echo $val->projectName;?></a></h3>
            <ul>
              <li>
                <p>借款期限: <span class="f20 red"><?php echo $val->timeLimit;?></span></p>
                <p>借款金额: <span>10万以下</span></p>
              </li>
              <li>
                <p>年化收益率: <span class="f20 red"><?php echo $val->yearRate;?>%</span></p>
                <div>
                  出借进度: 
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="<?php echo $val->lendProgress;?>" aria-valuemin="0" aria-valuemax="100" style="width: <?php echo $val->lendProgress;?>%;">
                      <?php echo $val->lendProgress;?>%
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <p class="text-right">
                  <a href="lend/detail/<?php echo $val->projectId;?>" <?php if($val->className == '出借中'):?>class="btn-brown"<?php else: ?>class="btn-gray"<?php endif;?>><?php echo $val->className;?></a>
                </p>
                <p class="mt12">还款方式: <span><?php echo $val->repayment;?></span></p>
              </li>
            </ul>            
          </div>
          <?php endforeach;?>
          <?php echo $page;?>
        </div>
      </div>  