      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="info-panel">
              <div class="login">
                <div class="f20">登录百姓金 <span class="pull-right f18"><a href="/member/register">没有账号?去<span class="brown">注册</span></a></span></div>
                <br/>
                <div class="s-line"></div>
                <form id="checkform" name="checkform" method="POST" action="/member/checklogin">
                  <p class="text-center red error server">服务器错误 500.</p>
                  <table class="center">
                    <tr>
                      <td class="w180">用户名:</td>
                      <td>
                        <input type="text" name="phone" id="phone" required="" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}"/>
                        <p class="red error phone"></p>
                      </td>
                    </tr>
                    <tr>
                      <td>密　码:</td>
                      <td>
                        <input type="password" name="pwd" id="pwd" required=""/>
                        <p class="red error pwd"></p>
                      </td>
                    </tr>
                    <tr>
                      <td>图片验证码:</td>
                      <td>
                        <input type="text" name="verifcode" id="verifcode" required="" />
                        <span>
                          <img src="/member/imgverifycode" name="imgCaptcha" id="imgCaptcha" class="code"/>
                        </span> 
                        <span class="ml15"><a href="javascript:void(0);" onclick="document.getElementById('imgCaptcha').src='/member/imgverifycode';" class="brown">看不清?再换一张</a></span>
                        <p class="red error verifcode"></p>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>
                        <input type="checkbox" name="" id="" checked="checked"/>记住用户名
                        <a href="/member/findpwd" class="forgetpwd brown">忘记密码?</a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td class="text-center">
                        <input type="hidden" id="formtype" value="login"/>
                        <button type="submit" name="submit" id="submit" class="btn-brown ml15">登陆</button>
                      </td>
                    </tr>
                  </table>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>