            <div class="info-panel text-center p24">
              <p><img src="/public/home/images/avatar_detalut.png" alt="" /></p>
              <p>Resen-leo</p>
              <p>200</p>
            </div>
            <div class="info-panel text-center p24 mt30">
              <ul class="menu">
                <li><a href="/user" <?php if($fname=='myinfo'):?>class="brown"<?php endif;?>>基本信息</a></li>
                <li><a href="/user/mylend" <?php if($fname=='mylend'):?>class="brown"<?php endif;?>>我的出借</a></li>
                <li><a href="/user/myproperty" <?php if($fname=='myproperty'):?>class="brown"<?php endif;?>>我的资产</a></li>
                <li><img src="/public/home/images/m_logo.png" alt="" /></li>
              </ul>
            </div>
