/*
* style 
* @package	style
* @author	Sun Guo Liang
* @since	Version 1.0.0
* @filesource
*/

body{
	/*font-family: "黑体",Arial;*/
	font-size: 16px;
	color:#666;
	line-height: 24px
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mt5{
	margin: 5px 0;
}

.mt10{
	margin-top: 10px;
}

.mt15{
	margin: 15px 0;
}

.mt30{
	margin-top: 30px;
}

.mtb15{
	padding:15px 0;
}

.ml15{
	margin-left: 15px !important;
}

.mtb30{
	margin: 30px auto;
}

.p24{
	padding:24px;
}

.ptb30{
	padding:30px 0;
}

.lh80{
	line-height: 80px !important;
}

a,a:hover,a:link{
	color:#000;
	text-decoration: none;
}

h2{
	font-size: 26px;
	margin: 10px auto;
	padding: 30px 0;
}

h4{
	font-weight: bold;
}

.f12{
	font-size: 12px;
}

.f14{
	font-size: 14px;
}

.f16{
	font-size: 16px;
}

.f18{
	font-size: 18px;
}

.f20{
	font-size: 20px;
}

.f22{
	font-size: 22px;
}

.f40{
	font-size: 40px;
}

.red{
	color: red;
}

.brown{
	color:#cd9d26 !important;
}

.gray{
	color:#b0b0b0;
}

.gray-bg{
	background: #f5f5f5;
}

.brown-bg{
	background: #fffbf8;
}

.btn-full{
	background: #eaeaea;
}

.center{
	margin: 0 auto;
}

header .loginbar{
	color: #666666;
}

header .loginbar a{
	color: #666666;
}

footer{
	margin-top: 30px;
	padding-top:30px;
	line-height: 50px;
}

footer .black-bg{
	background: #000;
	margin-top: 10px;
	padding:20px 0;
	color: #fff;
}

.banner{
	position: relative;
	border-top: 5px solid #f5f5f5;
	text-align: center;
}

.banner img{
	/*width: 100%;*/
}

button {
    padding: 2px 13px;
    border-radius: 5px;
    border: none;
}

.smallinput{
	padding: 2px 0 !important;
    margin: 0 !important;
}

.btn-brown{
	background: #cd9d26;
	display: block;
	text-align: center;
	width: 100%;
	padding:8px 20px;
	margin: 10px 0;
	border-radius: 5px;
	border: none;
	font-weight: bold;
	color:#fff !important;
}

.btn-brown:hover{
	background: rgba(205,157,38,0.88);
}

.btn-gray{
	background: #9d9d9d;
	display: block;
	text-align: center;
	width: 100%;
	padding:8px 20px;
	margin: 10px 0;
	border-radius: 5px;
	border: none;
	font-weight: bold;
	color:#fff !important;
}

.btn-def{
	background: #fff;
	border: 1px solid #eaeaea;
	padding:15px 30px;
	margin: 10px 0;
	border-radius: 10px;
	font-weight: bold;
	color:#666;
}

.btn-def:hover{
	background: #eee;
}

.btnbrow {
    background: #cd9d26;
    padding: 2px 20px;
    border: none;
    color: #fff !important;
}

.b-line{
	border-bottom: 10px solid #f5f5f5; 
}

.s-line{
	border-bottom: 1px solid #eaeaea; 
}

.logreg a{
	margin-right: 25px;
}

/*** nav start ***/
.nav-collapse li {
	float: left;
  	display: block;
}

.nav-bar .active{
	color:#d9b55c;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*
@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
*/

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse .alt a {
  background: #555;
}

.nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70px;
  height: 55px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../images/hamburger.png") no-repeat 50% 33%;
  position: relative;
  z-index: 2;
}

/*** nav end ***/

.data-tips li{
	float:left;
	width: 33.3%;
	color:#666666;
}

.marquee-panel{
	height:30px;
	overflow:hidden;
	display:inline;
	float:left;
	max-width: 65%;
}

.marquee-panel ul li{
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}

.progress .progress-bar {
    background-color: red;
}

.page{
	margin:15px 0;
	text-align: center;
	font-size: 14px;
}

.page li {
    display: inline-block;
    padding: 5px 14px;
    margin: 0 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.page li.active{
	background: #eaeaea;
	color:#fff; 
}

.detail-tl .row{
	padding:10px 0;
}

.tab ul{
	padding: 35px 0;
	border-bottom: 1px solid #f5f5f5; 
}

.tab li{
	float: left;
	margin-right: 30px;
	cursor: pointer;
}

.tab .active{
	color:#cd9d26;
	border-bottom: 2px solid #cd9d26; 
}

.tab #tabCon > div{
	padding:15px 0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	padding: 20px 0;
	border-top:none;
	border-bottom: 1px solid #f5f5f5; 
}

.info-panel{
	border-radius: 10px;
	border: 1px solid #f5f5f5;
	overflow: auto;
}

.info-panel .table{
	width: 100%;
}

.info-panel .table tr:last-child td{
	border: none;
}

.info-panel img{
	max-width: 100%;
}

.subnav {
    height: 50px;
    margin-top: 25px;
}

.subnav li{
	float: left;
	padding:0 20px;
	border-right:1px solid #f5f5f5; 
}

.subnav li:last-child{
	border: none;
}

.subnav li.ative a{
	color:#cd9d26;
}

.subtitle{
	margin:20px 0;
	font-size: small;
}

.info-panel .login{
	padding:30px;
}

.info-panel form{
	margin-top:30px;
}

.info-panel form input ,.info-panel form select{
    border-radius: 5px;
    border: 1px solid #eaeaea;
    padding: 15px;
    margin: 15px;
}

.info-panel .tab #tabCon p {
	margin:15px 0;
}

.info-panel .tab #tabCon a:hover{
	color:#cd9d26;
}

.conbr{
	border-radius: 10px;
	border: 1px solid #f5f5f5;
	margin: 15px 0;
	padding:20px;
}

.conbr ul{
	margin:10px 0; 
}

.conbr ul li{
	margin:20px 0; 
}

.conbr ul li:last-child{
	margin:0; 
}

.conbr h3 i{
	cursor: pointer;
}

.op{
	padding:20px 0;
	overflow:hidden;
}

.op-auto{
	height: auto;
}

.error{
	display: none;
	margin-left: 15px !important;
}

.menu li{
	margin:10px 0;
	padding:10px;
	border-bottom: 1px solid #f5f5f5;
}

.menu li:last-child{
	border: none;
}

.sub-nav{
	border-bottom: 1px solid #f5f5f5;
	overflow: auto;
	font-size: 16px;
}

.sub-nav li{
	float: left;
	margin:0 15px 15px 0;
	padding-right:15px;
	border-right: 1px solid #f5f5f5;
}

.sub-nav li:last-child{
	padding: 0;
	border: none;
}

.custle td{
	padding:20px 0;
}

.lendcolmn{
	padding: 0 35px;
	color: #666;
}

.lendcolmn ul li{
	font-size: 18px;
}

.lendrow{
	margin-bottom: 15px;
	border-radius: 10px;
	border: 1px solid #f5f5f5;
	overflow: hidden;
}

.rightcolmn li{
	float: left;
	text-align: center;
}

.avatar,#pic{
    width:100px;
    height:100px;
    border-radius:50% ;
    margin:20px auto;
    cursor: pointer;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #cd9d26;
}

.tooltip.right .tooltip-inner {
    border:1px solid #cd9d26;
    background: #fffcef;
    color: #000;
}

/* 补丁IPHONE5 */
@media (max-width: 375px){
	.data-tips img{
		width: 28%;
		height:28%;
	}
	.novice .btn-panel {
	    display: none;
	}
	.detail-tl .f22{
		font-size: 18px;
	}
	.detail-tl i{
		position: static !important;
		top: 0 !important;
	}
}

/* 补丁IPHONE6 */
@media (min-width: 375px) and (max-width: 413px) {

	.data-tips img{
		width: 31%;
	}

	.novice .btn-panel {
	    display: none;
	}

	.detail-tl i{
		position: static !important;
		top: 0 !important;
	}

}

/* 超小屏幕（手机，小于 768px） mobile */
@media (max-width: 767px) {

	h2{
		font-size: 20px;
		text-align: center;
	}

	.w180{
		width: 180px;
	}

	.m-gray-bg{
		background: #f5f5f5;
	}

	header .loginbar{
		display: none;
	}

	footer{
		font-size: 14px;
		line-height: 30px;
		text-align: center;
	}

	footer .lx{
		margin-top: 10px;
	}

	.nav-bar{
		position: relative;
		margin-top: 20px;
		height: 62px;
	}

	.nav-bar ul{
		background: #fff;
		width: 70%;
		padding:20px 40px;
		position: absolute;
	    top: 70px;
	    right: -15px;
	    z-index: 999;
		-moz-box-shadow:2px 10px 20px #949494; 
		-webkit-box-shadow:2px 10px 20px #949494; 
		box-shadow:2px 10px 20px #949494;
	    text-align: center;
	}

	.nav-bar ul li{
		padding:0 30px 30px 30px;
		width: 100%;
	}

	.nav-bar ul li{
		border-bottom: 1px solid #eaeaea;
		padding:10px;
	}

	.nav-bar ul li:last-child{
		border-bottom: none;
	}

	#triangle{
        position: absolute;
        top: 20px;
	    right: 5px;
	    z-index: 1;
	    width: 0;
	    height: 0;
	    border-width: 25px;
	    border-style: solid;
        border-color:transparent transparent white transparent;
	}

	.login-panel{
		display: none;
	}

	.data-tips{
		font-size: 12px;
		padding: 0 5%;
		margin-top: -10px;
		line-height: 0;
	}

	.data-tips li{
		position: relative;
		text-align: left;
		width: 32.5%;
	}

	.data-tips li:last-child{
		margin-left: 2.5%;
	}


	.data-tips img{
		position: relative;
		top:8px;
	}

	.data-tips span{
	    font-size: 16px;
	    position: absolute;
	    top: 35px;
	    left: 45px;
	    display: inherit;
	}

	.notice{
		padding-top:10px;
	}

	.plr5{
		margin:0 15px;
	}

	.inspection img{
		width: 55%;
		height:55%;
		margin-bottom: 15px;
	}

	.inspection h4{
		margin-top: 5px;
		font-size: 11px;
	}

	.novice .newinfo{
		border: 1px solid #f5f5f5;
		border-left: none;
		border-right:none;
	    padding: 0 20px;
	    display: inline-block;
	    width: 100%;
	}

	.novice .newinfo .info{
		padding:20px 0;
	}

	.novice .newinfo li{
		float: left;
		margin:0 10px 10px 0;
	}

	.novice .newinfo .btn-panel{
		float: right;
		margin-right: 16px;
	}

	.novice .newinfo .btn-panel .btn-brown{
		padding: 5px 20px;
		font-size: 14px;
	}

	.novice .newinfo .info .f22{
		font-size: 18px;
	}

	.novice .newinfo .info .f20{
		font-size: 14px;
	}

	.list{
		border: 1px solid #f5f5f5;
		border-left: none;
		border-right:none;
	    padding: 0 20px;
	    display: inline-block;
	    width: 100%;
	}

	.list h3{
		font-size: 18px;
	}

	.list:first-child{
		border: none;
	}

	.list li{
		float:left;
		width:30%;
	}

	.list li > *{
		font-size: 14px;
	}

	.list li:last-child{
		position: relative;
		margin-left: 10%;
	}

	.list li:last-child p:first-child{
		position: absolute;
		top:61px;
	}

	.list li p span{
		clear: both;
		display: block;
	}

	.list li p .btn-brown {
	    padding: 8px 20px;
	    border-radius: 5px;
	}

	.search-colmn{
		margin:20px;
		padding-bottom: 20px;
		clear: both;
	}

	.search-colmn span{
		display: block;
	}

	.search-colmn li{
		float: left;
		margin-right: 10px;
		font-size: 14px;
	}

	.detail-tl{
		position: relative;
		font-size: 14px;
	}

	.detail-tl i{
		position: absolute;
		top: 4px;
	}

	.detail-tl .progress{
		float: right;
		width:60px;
	}

	.brown-bg{
		padding:10px 15px;
	}

	.brown-bg .absolutely{
		width: 100%;
		display: block;
		font-size: 12px;
	}

	.tab{
		padding: 0 20px;
		font-size: 16px;
	}

	.tab .active{
		padding-bottom: 12px;
	}

	.subnav li{
		padding: 0 10px;
		font-size: 14px;
	}

	.info-panel{
		font-size:14px; 
	}

	.info-panel .login .f20{
		font-size:18px; 
	}

	.info-panel form input[^type=checkbox] {
		
	}

	.info-panel form #phonecode{
		width:65px;
	}

	.info-panel form #getphonecode{
		margin: 0;
	    width: 118px;
	    font-size: 12px;
	}

	.info-panel .tab #tabCon p{
		overflow: hidden;
	  	text-overflow: ellipsis;
	  	white-space: nowrap;
	}

	.info-panel form .btn-brown{
		width:200px;
	}

	.conbr{
		font-size: 12px;
	}

	.conbr h3{
		font-size: 16px;
	}

	.wpl,.wpr{
		margin: 0 10px;
	}

	.ptr{
		padding:20px 10px;
		text-align:center;
	}

	.ptl{
		padding:20px 10px;
		text-align:center;
	}

	.newNav{
		display: block;
		position: fixed;
		bottom: 0;
		z-index: 1;
		background: #fff;
		border-top:1px solid #e1e1e1; 
		width: 100%;
		height: 80px;
		text-align: center;
		font-size: 14px;
	}

	.newNav p{
		margin-top: 10px;
	}

	.table{
		font-size: 12px;
	}

	.custle td span{
		display: inline-block;
	}

	.lendcolmn li {
	    margin-right: 10px;
	}

	.lendcolmn .rightcolmn .f20{
		font-size: 16px;
	}

	.lendcolmn ul li {
	    font-size: 12px;
	}

	.lendrow .brown-bg{
		width: 100%;
		margin-bottom: 20px;
	}

	.lendrow .rightcolmn {
	    margin: 20px;
	    display: block;
	    clear: both;
	}

	.lendrow .rightcolmn li{
		width: 20%;
	}

	.marquee-panel ul li{
		width: 70%;
	}

}

/* 小屏幕（平板，大于等于 768px） ipad*/
@media (min-width:768px) and (max-width: 991px){

	header .loginbar{
		display: none;
	}

	.login-panel{
		display: none;
	}

	.nav-bar {
	    position: relative;
	    margin-top: 20px;
	    height: 62px;
	}

	.nav-bar ul{
		background: #fff;
		width: 40%;
		padding:20px 40px;
		position: absolute;
	    top: 70px;
	    right: -15px;
	    z-index: 999;
		-moz-box-shadow:2px 10px 20px #949494; 
		-webkit-box-shadow:2px 10px 20px #949494; 
		box-shadow:2px 10px 20px #949494;
	    text-align: center;
	}

	.nav-bar ul li{
		padding:0 30px 30px 30px;
		width: 100%;
	}

	.nav-bar ul li{
		border-bottom: 1px solid #eaeaea;
		padding:10px;
	}

	.nav-bar ul li:last-child{
		border-bottom: none;
	}

	#triangle{
        position: absolute;
        top: 20px;
	    right: 5px;
	    z-index: 1;
	    width: 0;
	    height: 0;
	    border-width: 25px;
	    border-style: solid;
        border-color:transparent transparent white transparent;
	}

	.data-tips li{
		width: 32.5%;
	}

	.data-tips li:last-child{
		margin-left: 2.5%;
	}

	.data-tips span{
	    font-size: 16px;
	}

	.notice{
		padding:10px 0;
	}

	.inspection img {
	    width: auto;
	    height: auto;
	}

	.novice{
		position: relative;
		margin:30px 0;
		border:1px solid #f5f5f5;
		border-radius: 10px;
		font-weight:bold; 
		height: 163px;
	}

	.novice li{
		float: left;
		text-align: left;
		margin-right: 25px;
	}

	.novice a{
		color:#fff;
	}

	.novice .bg{
	    background: url(../images/novice_bg.png) no-repeat;
	    width:260px;
	    height:180px;
	    padding: 40px 10px;
	    margin-top: -10px;
	    color: #fff;
	    text-align: center;
	}

	.novice .bg dl{
		font-size: 14px;
		margin-bottom:10px;
	}

	.novice .bg dl dd{
		float: left;
	}

	.novice .jl{
		display: none;
	}
	
	.novice .newinfo{
		float: left;
	}

	.novice .newinfo .info{
		float: left;
	}

	.novice .lqbtn{
		position: relative;
    	top: 20px;
		padding: 5px 15px;
		margin-top: 5px;
		border-radius: 5px;
		border: 1px solid #fff;
		color: #fff;
	}

	.novice .btn-panel{
		position: absolute;
		top: 0;
		right: 20px;
	}

	.novice .btn-brown{
		margin-top: 60px;
	}

	.novice .btn-panel{
		width:15%;
	}

	.novice .newinfo .info {
	    position: relative;
	    top:40px;
	    left:20px;
	    padding:0;
	}

	.novice .newinfo .info .f22 {
	    font-size: 20px;
	}

	.novice .newinfo .info h5 {
	    font-size: 14px;
	}

	.novice .newinfo .info .f20 {
	    font-size: 14px;
	}

	.list{
		border: 1px solid #f5f5f5;
	    border-radius: 10px;
	    padding: 25px 25px 0 25px;
	    display: inline-block;
	    width: 100%;
	    margin-top:30px;
	}

	.list > *{
		line-height: 30px;
	}

	.list h3{
		margin:0;
	}

	.list li{
		float:left;
		margin-top: 15px;
		width: 30%;
	}

	.list li:last-child{
		width:33%;
		margin-left:7%;
	}

	.list li div{
		position: relative;
	}

	.list li .progress{
		position: absolute;
	    top: 5px;
	    right: -6px;
	    width: 100px;
	}

	.list li .btn-brown{
		margin-top: -20px;
	    width: 200px;
	}

	.search-colmn{
		margin:30px 20px;
		padding-bottom: 20px;
		clear: both;
	}

	.search-colmn span{
		font-size: 18px;
		display: block;
	}

	.search-colmn ul{
		margin-top: 15px;
	}

	.search-colmn li{
		float: left;
		margin-right: 11px;
		font-size: 16px;
	}

	.detail-tl{
		position: relative;
		font-size: 14px;
	}

	.detail-tl .progress{
		float: right;
		width:100px;
	}

	#tabTle,#tabCon{
		margin: 0 15px;
	}

	.brown-bg {
	    padding: 20px 30px;
	}

	.conbr{
		font-size: 12px;
	}

	.conbr h3{
		font-size: 18px;
	}

	.lendcolmn {
	    padding: 0 20px;
	}

	.lendcolmn ul li {
	    font-size: 12px;
	}

	.lendrow .brown-bg{
		font-size: 12px;
	}

	.lendrow .brown-bg span{
		display: block;
	}

	.lendrow .rightcolmn{
		float: left;
		width: 60%;
		margin: 10px 10px 0 10px;
	}

	.lendrow .rightcolmn .f20{
		font-size: 16px;
	}

	.lendrow .rightcolmn p{
		font-size: 12px;
		margin:0;
	}

	.rightcolmn li{
		padding:10px;
	}

	/*&&[type=radio]*/
	.info-panel form input:not([type=checkbox]){
		width: 400px;
	}

	.info-panel form #phonecode{
		width:82px;
	}

	.info-panel form #getphonecode{
	    width: 150px;
	}

	.info-panel form #verifcode{
		width: 82px;
	}

	.info-panel form .btn-brown{
		width:227px;
	}
	
	footer{
		text-align: center;
		font-size: 14px;
	}

	.newNav{
		display: none;
	}

}

/* 中等屏幕（桌面显示器，大于等于 992px） PC */
@media (min-width:992px) {

	header .loginbar{
		height: 60px;
		line-height: 60px;
	}

	.nav-toggle {
		display: none;
	}

	.nav-bar{
		padding:30px 0;
		height: 100px;		
	}

	.nav-collapse ul{
		float: right;
		margin-top: 12px;
		width: auto;
	}

	.nav-collapse li:first-child{
		display: none;
	}

	.nav-collapse li {
		font-size: 18px;
	 }

	.nav-collapse a {
    	float: left;
    	padding:0 30px;
    	text-align: center;
    	border-right: 1px solid #eaeaea;
  	}

  	.nav-collapse a.noborder{
		border:none !important;
		padding-right:0;
	}

	.container{
		width: 980px;
	}

	.login-panel {
	    background: white;
	    position: absolute;
	    top: 22%;
    	right: 8%;
	    z-index: 1;
	    border-radius: 15px;
	    padding: 2% 4%;
	}

	.login-panel h3{
		font-size: 1.6vw;
		font-weight: bold;
	}

	.login-panel span{
		font-size: 1vw;
	}

	.login-panel span.f40{
		font-size: 2.5vw;
	}

	.login-panel p{
		letter-spacing:2px;
	}

	.login-panel .btn-brown{
		margin-top: 5%;
	}

	.data-tips span{
		font-size: 20px;
	}

	.notice{
		padding:10px 0;
	}

	.lr-line{
		border-left: 1px solid #f5f5f5;
	    border-right: 1px solid #f5f5f5;
	}

	.novice {
	    position: relative;
	    border: 1px solid #f5f5f5;
	    border-radius: 10px;
	    font-weight: bold;
	    height: 163px;
	    margin: 20px 0 20px 0;
	}

	.novice li{
		float: left;
		text-align: left;
		margin-right: 25px;
	}

	.novice a{
		color:#fff;
	}

	.novice .jl{
		display: none;
	}
	
	.novice .bg{
	    background: url(../images/novice_bg.png) no-repeat;
	    width:260px;
	    height:180px;
	    padding: 40px 10px;
	    margin-top: -10px;
	    color: #fff;
	    text-align: center;
	}

	.novice .bg dl{
		font-size: 14px;
		margin-bottom:10px;
	}

	.novice .bg dl dd{
		float: left;
	}
	
	.novice .newinfo .info{
		float: left;
	}

	.novice .lqbtn{
		position: relative;
    	top: 20px;
		padding: 5px 15px;
		margin-top: 5px;
		border-radius: 5px;
		border: 1px solid #fff;
		color: #fff;
	}

	.novice .btn-panel{
		position: absolute;
		top: 0;
		right: 20px;
	}

	.novice .btn-brown{
		margin-top: 60px;
		padding: 10px 20px;
	}

	.novice .btn-panel{
		width:20%;
	}

	.novice .newinfo .info {
	    position: relative;
	    top: 20px;
	    left: 15px;
	    padding: 10px;
	}

	.novice .newinfo .info h5 {
	    font-size: 16px;
	    padding-top: 10px;
	}

	.list{
		border: 1px solid #f5f5f5;
	    border-radius: 10px;
	    padding: 25px;
	    display: inline-block;
	    width: 100%;
	    margin-top:30px;
	}

	.list > *{
		line-height: 30px;
	}

	.list h3{
		margin:0;
	}

	.list li{
		float:left;
		margin-top: 15px;
		width: 24%;
	}

	.list li:last-child{
		width:42%;
		margin-left:10%;
	}

	.list li p{
		margin-bottom:15px;
	}

	.list li .btn-brown,.list li .btn-gray{
		margin-top: -10px;
		margin-left:190px;
	    width: 200px;
	}

	.mt12{
		margin-top: -12px;
	}

	.progress{
		float: right;
		width: 150px;
		border-radius: 10px;
		font-size: 14px;
		margin-top: 4px;
	}

	.search-colmn{
		margin: 30px 0;
		font-size: 18px;
		overflow: auto;
		clear: both;
	}

	.search-colmn span{
		float: left;
		width: 180px;
		padding-right: 50px;
		border-right: 1px solid #f5f5f5; 
	}

	.search-colmn ul{
		float: left;
		margin-left: 50px;
	}

	.search-colmn li{
		float: left;
		width: 140px;
	}

	.detail-tl{
		padding:20px 20px 10px 0;
	}

	.brown-bg{
		padding:33px 50px;
	}

	.brown-bg p:first-child{
		margin-top: 10px;
	}

	.tab li{
		font-size: 20px;
	}

	.tab .active{
		padding-bottom: 9px;
	}

	.subtitle p:first-child{
		float: left;
	}

	.subtitle p:last-child{
		float: right;
	}

	.info-panel form p {
	    /*width: 600px;*/
	    margin: 0 auto;
	}

	/*&&[type=radio]*/
	.info-panel form input([type=text]){
		width: 400px;
	}

	.info-panel form #getphonecode{
		width: 180px;
	}

	.info-panel form #verifcode{
		width: 82px;
	}

	.info-panel form #phonecode{
		width:82px;
	}

	.info-panel form .forgetpwd{
		float: right;
		margin:10px 66px 0 0;
	}

	.info-panel form .btn-brown{
		width:250px;
	}

	.info-panel form .progress{
		float: left;
	}

	.info-panel .tab{
		margin: 0 30px; 
	}

	.novice .btn-panel {
	    right: 25px;
	}

	.conbr h3{
		font-size: 18px;
	}

	.wpl{
		width:49%;
		padding-left:15px;
		float:left;
	}

	.wpr{
		width:49%;
		padding-right:15px;
		float:right;
	}

	.lendrow .brown-bg span{
		margin-top: 7px;
		display: block;
	}

	.lendrow .rightcolmn{
		float: left;
		width: 60%;
		margin: 20px 20px 0 20px;
	}

	.rightcolmn li{
		padding:20px 10px;
	}

	footer .wx{
		float: left;
		margin-left: 240px;
	}

	footer .lx{
		float: right;
		margin-right: 220px;
	}

	.newNav{
		display: none;
	}

}